.junket-exp-img{
  @media (max-width: 1024px) {
    margin-top: 15%;
  }

  div{
    position: relative;
    width: 16rem;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 70%;
    }
    @media (min-width: 768px) {
      width: 25rem;
    }
    @media (min-width: 1000px) {
      width: 30rem;
    }
  } 

  .background{
    position: absolute;
    top: -20px;
    left: 2rem;
    z-index: -1;
  }

  .forground{
    z-index: 1;
  }

  .adventure-phone{
    .background{
      left: 5%;
    }
  }

}