.usagePopUpRoot {
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popIn {
  opacity: 1;
  z-index: 100;
}

.popOut {
  opacity: 0;
  z-index: -1;
}

.usageModal {
  width: 90%;
  background: linear-gradient(0deg, rgba(234,55,67,1), rgba(84,200,209,1));
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    max-width: 403px;
    padding: 10px;
  }
}

.closeContainer {
  width: 90%;
  max-width: 420px;
  margin: 0 -10px -20px 0;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.xClose {
  z-index: 101;
  background-color: #fff;
  border-radius: 25px;
  padding: 0 10px;
  p {
    font-size: 1.6rem;
    color: rgba(234,55,67,1);
  }
  @media (min-width: 768px) {
    margin: 0;
  }
}

.topContainer {
  background-color: #445865;
  padding: 10px;
  h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: "DIN 2014", sans-serif;
    text-align: center;
    font-weight: 300;
    width: 70%;;
  }
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottomContainer {
  background-color: #445865;
  margin-top: 10px;
  padding: 10px 20px;
  .tableContainer {
    padding: 20px 0 20px 0;
  }
  table {
    width: 100%;
    font-size: 18px;
  }
  th {
    color: rgba(234,55,67,1);
  }
  tr {
    text-align: center;
    color: #fff;
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 100%;
  }
}

.whiteDivider {
  // background-color: #fff;
  // height: 3px;
  border-bottom: solid 1px #fff;
}

.tealDivider {
  // background-color: #00CBD3;
  // height: 3px;
  border-bottom: solid 1px #00CBD3;
}
