.modalRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.open {
  opacity: 1;
  z-index: 1000;
  transition: z-index 0s ease-in-out, opacity 0.8s ease-in-out;
}

.closed {
  opacity: 0;
  z-index: -1;
  transition: z-index 1.5s ease-in-out, opacity 0.8s ease-in-out;
}

.closeModalX {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  position: fixed;
  top: 15px;
  left: 20px;
}

.iframeContainer iframe {
  height: 575px;
}
