.videoSectionRoot {
  background-image: url("../../../public/img/2020/topo-background-100.jpg");
  background-size: cover;
  width: 100%;
  padding: 40px 0;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

.watchButton {
  margin: 20px auto;
  font-family: "DIN 2014", sans-serif;
  background-color: green;
  padding: 20px 60px;
  border-radius: 25px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 19px 10px rgba(255,255,255,0.3);
  -moz-box-shadow: 0px 0px 19px 10px rgba(255,255,255,0.3);
  box-shadow: 0px 0px 19px 10px rgba(255,255,255,0.3);
}


