.headerRoot {
  position: fixed;
  width: 100%;
  height: 84px;
  z-index: 5;
}

.transparent {
  background-color: transparent;
}

.black {
  background-color: #000;
}

.headerContent {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  max-width: 1300px;
}

.thirtyThreeWide {
  display: flex;
  color: #fff;
  width: 33%;
  text-align: center
}

.flexStart {
  justify-content: flex-start;
  align-items: center;
}

.flexCenter {
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }
}

.flexEnd {
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }
}

.headerLogo {
  cursor: pointer;
  height: 50px;
  max-width: 300px;
  @media (max-width: 767px) {
    height: 30px;
  }
}
