.businessLiteRoot {
  margin: 20px auto;
  background-color: #445865;
}

.cardHeaderContainer {
  background-image: url("../../../../public/img/2020/card-overlay_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #445865;
}

.cardHeaderText {
  font-family: "DIN 2014", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
