.junket-work{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;

  .grey-title{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2em;
    width: 80vw;
  }

  .sufering{
    margin-bottom: 3rem;
  }

  .how-work-top{
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column-reverse;
    @media (min-width: 1000px) {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .how-work-down{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    @media (min-width: 1000px) {
      flex-direction: row;
      align-items: center;
    }
    
    div{
      flex-basis: 50%;
    }
  }

}